html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
h1, h2 {
    font-family: 'Milonga', cursive;
}
p {
    font-size: 1.25em;
}
#logo {
    float: left;
    border-radius: 50%; 
    margin: 10px;
}
.navbar {
    background: #839788;
    clear: both;
    overflow: hidden;
}
.navbar-inner {
    overflow: hidden;
}
.nav li a {
    color: white;
    font-size: 1.50em;
}
#login {
    display: inline;
}
#cart-btn {
    margin: 8px;
}
.content {
    background: #EEE0CB;
}
.image {
    margin: 25px;
}
.footer {
    width: 100%;
    height: 100px;
    background: #839788;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
}
.footer b {
    margin-top: 5px;
}
