html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
.navbar {
    background: #839788;
    clear: both;
}
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    overflow: hidden;
    float: left;
}
.nav-list li {
    float: left;
    border-right: 1px solid #bbb;
}
.nav-list li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
#logo {
    float: left;
    overflow: auto;
}
.content {
    background: #EEE0CB;
}